.page-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/Assets/contact.jpg"), no-repeat;
  background-size: cover;
}
.display-4 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}
.smooth-dropdown {
  transition: all 0.3s ease; /* Apply a smooth transition effect */
  border: 1px solid transparent; /* Add a border */
}

.smooth-dropdown:hover {
  border: 1px solid #ccc; /* Change border color on hover */
}

input[type="radio"]{
  display: none;
}

label{
  display: block;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 10px;
}

label span{
  display: inline-flex;
  align-items: center;
  
  border-radius: 31px;
  transition: .25s ease;
}

label span:before{
  content: "";
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  transition: .25s ease;
  box-shadow:  inset 0 0 0 2px #00005c;
}

input[type="radio"]:checked + span:before{
  box-shadow: inset 0 0 0 10px #00005c;
}



.wrapper header p {
  font-size: 15px;
  margin-top: 5px;
}

.wrapper .price-input {
  display: flex;
  width: 100%;
  margin: 30px 0 35px;
}

.wrapper .price-input .field {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
}

.price-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #999;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  margin-left: 12px;
}

.price-input input::-webkit-outer-spin-button,
.price-input input::-webkit-inner-spin-button {
  display: none;
}

.wrapper .seperator {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
}

.wrapper .slider {
  height: 5px;
  position: relative;
  background-color: #ddd;
  border-radius: 5px;
}

.wrapper .progress {
  position: absolute;
  height: 100%;
  left: 5%;
  right: 65%;
  background-color: #4070f4;
  border-radius: 5px;
}

.wrapper .range-input {
  position: relative;
}

.wrapper .range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  pointer-events: none;
  background: none;
  appearance: none;
  accent-color: #4070f4;
}

.wrapper .range-input input::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  background-color: #4070f4;
  border-radius: 50%;
  pointer-events: auto;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
